/*
Colors Used:
Primary Color (ivory): rgb(255, 255, 240)
Secondary Color (black) rgb (38, 38,38)
Tertiary Color (lavendar) rgb(179, 179, 255)

*/
body{ 
background-color: rgb(255, 255, 240)
font-family: 'Merriweather', serif;
font-size: 16px
font-weight: 300
line-height: 1.6
color: rgb (38, 38,38)
}

h1, h2, h3, h4{line-height: 1.4;}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2{
    font-size: 2.25em;
    font-weight: 700;
}

h3{
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
  }
  a {
    color: rgb(255, 255, 240);
    text-decoration: none;
  }
  a:hover {
    color: rgb(89, 89, 89)
;
    text-decoration: underline;}

    a:visited { 
        color: rgb(179, 179, 255)

        ;
      }
      a:active { 
        color:rgb(38, 38, 38); }

a:hover,
a:focus {
  color: rgb(179, 179, 255);
  text-decoration: underline;
}
.button {
    display: inline-block; 
    background-color:rgb(38, 38, 38);
    color: #rgb(255, 255, 240); 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px rgb(38, 38, 38); 
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.8; 
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color:  rgb(38, 38, 38);
    text-transform: uppercase;
    border: 2px solid rgb(38, 38, 38);
  }
  .button.contact:hover {
    background-color:rgb(38, 38, 38) ;
    color: rgb(179, 179, 255);
  }