/*
Colors Used:
Primary Color (ivory): rgb(255, 255, 240)
Secondary Color (black) rgb (38, 38,38)
Tertiary Color (lavendar) rgb(179, 179, 255)

*/

*{
  box-sizing: border-box;
}

body{ 
background-color: rgb(255, 255, 240);
font-family: 'Merriweather', serif;
font-size: 16px;
font-weight: 300;
line-height: 1.6;
color: rgb (38, 38,38);
}

h1, h2, h3, h4{line-height: 1.4;}
h1 {
    font-size: 2.75em;
    font-weight: 700;
    text-align: center;
}
h2{
    font-size: 2.25em;
    font-weight: 700;
    text-align: center;
}

h3{
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
  }
  a {
    color: rgb(38, 38, 38);
    text-decoration: none;
  }
  a:hover {
    color: rgb(89, 89, 89)
;
    text-decoration: underline;}

    a:visited { 
        color: rgb(0, 136, 204)
        ;
      }
      a:active { 
        color:(ivory): rgb(255, 255, 240); }

a:hover,
a:focus {
  color: ;
  text-decoration: underline;
}
.button {
    display: inline-block; 
    background-color: rgb(179, 179, 255);
    color: rgb(38, 38, 38); 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px rgb(38, 38, 38); 
    transition-duration: 0.2s opacity;
  }

  .button:hover {
    background-color: rgb(204, 204, 255);
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color:  rgb(38, 38, 38);
    text-transform: uppercase;
    border: 2px solid rgb(38, 38, 38);
  }
  .button.contact:hover {
    background-color: rgb(89, 89, 89) ;
    color: rgb(179, 179, 255);
  }

  /* Layout Styling */

.container{
  padding: 15px;
}
.row::after {
  margin: 25px 0;
  content: "";
  clear:both;
  display: table;
}

.bottom{
  padding: 10px;
  margin: 25px 0;
  border-bottom: 3px solid rgb(38, 38, 38);
}
#hero h1{
  text-align: center;
}
.center{
  text-align: center;
}
.logo{
  max-width: 150px;
}
header{
  background-color: rgb(179, 179, 255);
  padding: 10px 0;
  box-shadow: 0px 10px 8px -4px rgba(0,0,0,0.79);
  -webkit-box-shadow: 0px 10px 8px -4px rgba(0,0,0,0.79);
  -moz-box-shadow: 0px 10px 8px -4px rgba(0,0,0,0.79);
position: relative;
}

nav {
 display: inline-block;
 width: 100%;
}


nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color:rgb(38, 38, 38)
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color:rgb(0, 136, 204)
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav{
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba (255, 127, 80, 0.5);
}

.navtoggle li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: rgb(179, 179, 255);
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}
#hero span {
  display: block
}

footer{
  margin-left: 0;
  padding: 0;
  text-align: center;
}

footer{
  padding: 15px 10px;
  width: 100%;
}

@media only screen and (min-width: 641px){
header {
  nav > ul > li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 0 4px; 
  text-align: unset;
  padding: 20px 0 13px;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}




body {
  font-size: 18px;
}

.col-md-6 {
  width: 50%;
}

}

@media only screen and (min-width: 1024px){
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  
  nav {
    width: auto;
    float: right;
    margin-top: 8px;
  }
  
  body {
    font-size: 22px;
  }
  
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px){

}

[class*="col-"] {
float:left;
padding-left: 15px;
padding-right: 15px;
}

#about-page-h3 {
margin-top: 0%;
}

#bridge {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear; 
}

@keyframes cloud-move {
  from {transform: translate (0, 50px)}
  to {transform: translate(200px, 50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px, 48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}